<div class="tarjetas-contenedor" >
  <!-- Tarjeta 1 -->
  <div routerLink="/usuario" class="tarjeta">
    <img src="assets/logo.png" alt="Imagen de la tarjeta 1" class="tarjeta-imagen">
    <div class="tarjeta-contenido">
      <h3>Usuario</h3>
      <p>Listar y crear Usuarios</p>
    </div>
  </div>

  <!-- Tarjeta 2 -->
  <div routerLink="/productos" class="tarjeta">
    <img src="assets/logo.png" alt="Imagen de la tarjeta 2" class="tarjeta-imagen">
    <div class="tarjeta-contenido">
      <h3>Producto</h3>
      <p>Listar y crear Productos</p>
    </div>
  </div>
</div>