/* Estilos globales y compartidos */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f8fafc; /* Fondo gris-azulado sutil para todas las pantallas */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary-color: #3f51b5; /* El azul de Angular Material */
}

.bg-primary {
  background-color: var(--primary-color);
}

.mat-icon {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.contenedor-principal {
  width: 50%;          /* Ocupa el 50% del ancho de la pantalla */
  margin-left: auto;   /* Centra horizontalmente */
  margin-right: auto;  /* Centra horizontalmente */
}

/* Opcional: Hace que ocupe más espacio en pantallas de celulares */
@media (max-width: 768px) {
  .contenedor-principal {
    width: 90%;
  }
}
.titulo-principal {
  text-align: center;
  font-size: 2.5rem;
  color: #222222;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: sans-serif; /* Puedes cambiarla por la fuente de tu proyecto */
}