<div>
  <div>
    <h1>{{ title() }}</h1>
    <h3>{{ descripcion() }}</h3>
  </div>

  <form [formGroup]="formulario" (ngSubmit)="enviar()">

    <div class="form-group">
      <input formControlName="nombre" placeholder="Nombre" />
      <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched">
        <small *ngIf="formulario.get('nombre')?.errors?.['required']">Este campo es obligatorio</small>
        <small *ngIf="formulario.get('nombre')?.errors?.['minlength']">Ingrese al menos 3 caracteres</small>
      </div>
    </div>

    <div class="form-group">
      <input formControlName="email" placeholder="Email" />
      <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched">
        <small *ngIf="formulario.get('email')?.errors?.['required']">El email es requerido</small>
        <small *ngIf="formulario.get('email')?.errors?.['email']">Ingresar un mail válido</small>
      </div>
    </div>

    <div class="form-group">
      <input formControlName="mensaje" placeholder="Mensaje" />
    </div>

    <button type="submit" [disabled]="formulario.invalid">Enviar</button>

  </form>
</div>